.jodit-status-bar a.jodit-status-bar-link {
  display: none !important;
}

.jodit-container:not(.jodit_inline) .jodit-wysiwyg {
  background-color: #fafafa !important;
  min-height: 1500px !important;
  padding: 0px !important;
  border: 0px solid #949393 !important;
  overflow-y: hidden;
}

.docPage {
  position: relative;
  border: 1px solid #949393 !important;
  padding-top: 0px !important;
  padding: 20px !important;
  min-height: 1500px !important;
  margin: 30px 0px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.jodit-container:not(.jodit_inline) .jodit-workplace {
  width: 900px !important;
  margin: 20px auto !important;
}

.jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal {
  background-color: #e9e9e9 !important;
  border-radius: 20px !important;
 
}

.jodit-toolbar__box:not(:empty) {
  border: none !important;
  position: sticky !important;
  top: 0;
  z-index: 2000 !important;
}
.jodit-container:not(.jodit_inline) {
  background-color: #fafafa !important;
  border-width: 0px !important;
}
.jodit-toolbar__box:not(:empty):not(:empty) {
    background-color: #fafafa !important;
}
#sideBox {
  transform: translateZ(0) !important; /* Creates a new stacking context */
}

.jodit-wysiwyg h1 {
  font-size: 2.25rem !important;
  font-weight: bold !important;
}

.jodit-wysiwyg h2 {
  font-size: 1.875rem !important;
  font-weight: bold !important;
}

.jodit-wysiwyg h3 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.jodit-toolbar-box {
  position: sticky !important;
 
}


.page-number {
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: right;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  pointer-events: none; /* Makes it non-editable */
  user-select: none; /* Prevents selection */
}




/* Main list starts with 1, 2, 3 */
.custom-numbered-list {
  counter-reset: list-counter;
  list-style: none;
  padding-left: 20px;
}

/* List items inside the list */
.custom-numbered-list > li {
  counter-increment: list-counter;
}

/* Generate numbers like 1, 2, 3 */
.custom-numbered-list > li::before {
  content: counters(list-counter, ".") ". ";
  font-weight: bold;
}


